body,html,#root{
  margin: 0%;
  padding: 0%;
}
.Achivements{
    width: 100%;
    display: flex; 
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(0deg, #192225, #030303);
}


.Achcont{
    display: flex; 
    flex-direction: column;
    height: 100vh;
    margin: 0 20%;
}
.Achcard1{
     display: flex;
     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap;
     column-gap: 10px;
     width: 100%;
     margin: 5% 0 1% 0;
}
#fa-regular-ach1{
    background-color: rgba(252, 250, 246, 0.145);
    align-self: center;
    font-size: 1.8em;
    padding: 15px;
    color: rgb(252, 250, 246);
    border: 1px solid rgb(252, 250, 246);
    border-radius: 5px;
}
.Achcard1-1{
    align-self: center;
     font-size: 3.5em;
    font-weight: 200;
    font-family: 'Roboto Mono', monospace;
    margin: 0%;
    color: rgb(237, 236, 232);
    letter-spacing: 5px; 
}
.Achcard2 {
  height: 1px;                  
  background: #333;              
  clip-path: polygon(
    0% 50%, 5% 0%, 95% 0%, 100% 50%, 
    95% 100%, 5% 100%
  );
  align-items: center;
  margin: 0 20%;
  background-color: rgb(252, 250, 246);
}
.Achcard3{
    width: 100;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.Achcard3-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    margin-top: 8%;
}
.Achcard3-11{
    width: 320px;
    height: 220px;
    transition: transform 0.3s ease;
}
.Achcard3-11:hover {
  transform: scale(0.9);  
}

.img7{
    width: 320px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}
.Achcard3-1b{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
}
.Achcard3-11b{
    width: 320px;
    height: 220px;
    transition: transform 0.3s ease;
}
.Achcard3-11b:hover {
  transform: scale(0.9);  
}