body,html,#root{
  margin: 0%;
  padding: 0%;
}
.header{
    background-color: rgb(10, 18, 22);
    position: relative;
    width: 100%;
}
.header-content{
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: rgb(236, 127, 32);
    row-gap: 30px;
}
.headeritem-1{
   display: flex;
   flex-direction: row;
   flex-wrap:wrap;
   justify-content:center;
   width: 100%;
  column-gap: 10%;
}
.hdritem-1{
   display: flex;
   flex-direction:column;
   row-gap: 10px;
   margin: 10% 0 0 0;
}
.hdritem-11{
   display: flex;
   flex-direction:column; 
    align-items: end;
}
.img2{
    width: 9em;
    padding: 0%;
    filter: sepia(1) saturate(5) hue-rotate(330deg) brightness(2.5);
}
.hdritem-12{
   display: flex;
   flex-direction:row;
   justify-content: center;
}
.hdritem-121{
    font-family: "Jersey 25", sans-serif;
    font-size: 2em;
    padding: 0%;
    margin: 0%;
    color: rgb(251, 243, 233);
    /*  */
}

.cursor {
  display: inline-block;
  margin-left: 5px;
  animation: blink 3.7s infinite;
  color: rgb(250, 230, 206);
}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.hdritem-13{
   display: flex;
   flex-direction:column; 
   align-items: end;
}
.img3{
    width: 4em;
    padding: 0%;
    margin: 0% 20% 0 0;
    filter: sepia(1) saturate(5) hue-rotate(330deg) brightness(6);
}
.hdritem-14{
    font-family: "Caveat";
    font-weight: 600;
    font-size: 6em;
    width: 100%;
    padding: 0%;
    margin: 10% 0 0 0;
    color: rgb(251, 243, 233);
}
/* ------------------- */
.hdritem-2{
   display: flex;
   flex-direction:column;
   margin-top: 15%;
}
.img1{
    width: 20em;
    padding: 0%;
    margin: 0%;
    animation: pulseEffect 5000ms ease-in-out infinite;
}



@keyframes pulseEffect {
    0% {
        filter: brightness(0.8) contrast(0.9) grayscale(10%);
        opacity: 0.9;
    }
    50% {
        filter: brightness(1) contrast(1) grayscale(0%);
        opacity: 1;
    }
    100% {
        filter: brightness(0.8) contrast(0.9) grayscale(10%);
        opacity: 0.9;
    }
}
/* ------------------------- */
.hdritem-3{
   display: flex;
   flex-direction:column;
   margin: 10% 0 0 0;
}
.hdritem-31{
   display: flex;
   flex-direction:row;
   justify-content: center; 
   padding: 0%;
   margin: 0%;
}
.hdritem-311{
    font-family: "Jersey 25", sans-serif;
    font-size: 2em;
    padding: 0%;
    margin: 0%;
    color: rgb(251, 243, 233);
}
.hdritem-32{
   display: flex;
   flex-direction:column; 
   align-items: center;
}
.img4{
    width: 5em;
    padding: 0%;
    margin: 0%;
    filter: sepia(1) saturate(5) hue-rotate(330deg) brightness(2.5);
}
.hdritem-33{
    font-family: "Caveat", cursive;
    font-weight: 600;
    font-size: 5em;
    margin: 10% 0 0 0;
    color: rgb(251, 243, 233);
}
/* --------------- */
.headeritem-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  margin: 0 0 3% 5%;
}
.hdr-21{
    background-color: rgba(255, 255, 255, 0.074);
    display: flex;
   flex-direction: column;
   row-gap: 3px;
   text-align: center;
   width: 130px;
   height: 80px;
   justify-content: center; 
   border-radius: 8px;
   transition: transform 0.3s ease;
}
.hdr-21:hover {
  transform: scale(0.9);      
}
.hdr-211{
    font-size: 1.3em;
}
#fa-regular-1{
    font-size: 1rem;
    color: rgb(246, 225, 199);
    color: rgb(251, 243, 233);
}
.hdr-212{
    font-size: 1.1em;
    font-family: "Jersey 25", sans-serif;
    font-weight: 500;
    color: rgb(247, 225, 199);
    color: rgb(251, 243, 233);
}