.card1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 80vh;
  overflow: hidden;
  position: relative;
  margin-top: 10%;
  border-radius: 5px;
  border:5px solid rgb(202, 206, 210);
  background: linear-gradient(0deg, #192225, #030303);
}

.strap-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: center;
}

.strap {
  width: 6px;
  background: repeating-linear-gradient(
    45deg,
    #000000,
    #000 10px,
    rgba(226, 227, 228, 0.642) 10px,
    rgba(226, 227, 228, 0.642) 20px
  );
  border-radius: 3px;
  transition: height 0.2s ease;
}

.hook-card-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hook {
  width: 20px;
  height: 15px;
  border: 3px solid #2c3639;
  border-radius: 50%;
  background-color: silver;
  margin-bottom: -10px;
  z-index: 2;
}

.profile-card {
  cursor: grab;
  touch-action: none;
  user-select: none;
  background-color: rgba(35, 62, 77, 0.492);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0 5px;
  border: 5px solid rgba(226, 227, 228, 0.642);
  border-radius: 5px;
}

.pcard1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20%;
}

.img5 {
  background-color: rgb(92, 247, 78);
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 5px;
}

.pcard2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 8px;
}

#fa-solid-1 {
  color: rgb(96, 137, 155);
  font-size: 1em;
  align-self: center;
}

.pcard21 {
  font-size: 1.1em;
  font-family: "Jersey 25", sans-serif;
  padding: 0%;
  margin: 0%;
  color: rgb(170, 198, 209);
}

.pcard3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 8px;
  margin: 5% 0 25% 0;
}


.social-icons img {
  transform: scale(0.9);        /* default small size */
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.social-icons img:hover {
  transform: scale(0.8);        /* grows on hover */
  filter: brightness(1.15);     /* optional nice glow */
}

