.procard313s{
    font-size: 1.2em;
    margin: 5% 0 0 3%;
    color: rgb(136, 134, 134);
    font-family: "TikTok Sans", sans-serif;
}
.readmore-toggle {
  color: rgb(136, 134, 134);
  cursor: pointer;
  margin-left: 3px;
}
