body,html,#root{
  margin: 0%;
  padding: 0%;
}
.skill-cont{
    background-color: rgb(18, 33, 33);
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 18, 22);
    background: linear-gradient(0deg, #192225, #030303);
}
